body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: blue; /* Cor do título na página inicial */
}

h2 {
    color: pink; /* Cor do título de perguntas */
}

.selecao-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Mudança para linha */
}

.usuario {
    margin: 20px;
}

.usuario img {
    width: 400px; /* Tamanho da foto do usuário */
    height: 400px; /* Tamanho da foto do usuário */
    border-radius: 50%; /* Fotos em forma redonda */
}

.fotos-perguntas {
    display: flex;
    flex-wrap: wrap; /* Permite que as fotos se movam para a próxima linha */
    justify-content: center;
    margin: 20px 0;
}

.foto-mes {
    text-align: center;
    margin: 10px;
}

.fotos-perguntas img {
    width: 200px; /* Tamanho das fotos na página das perguntas */
    height: 200px;
    margin: 10px;
}

.perguntas {
    margin: 20px;
}

.perguntas label {
    display: block;
    font-size: 1.5em; /* Tamanho da fonte das perguntas */
    color: pink; /* Cor das perguntas */
    margin: 10px 0;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fonte fofa */
}

.perguntas textarea {
    width: 100%;
    height: 50px; /* Tamanho do espaço para responder */
    margin: 10px 0;
}

.button {
    display: block;
    width: 220px; /* Largura do botão */
    padding: 10px;
    margin: 20px auto;
    background-color: pink; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em; /* Tamanho da fonte do botão */
    text-align: center;
}

.button:hover {
    background-color: lightcoral; /* Cor do botão ao passar o mouse */
}
